.game {
  height: -webkit-fill-available;
}

/* Player Hand */
.ui.container.cards-container {
  display: flex;
  height: inherit;
  align-items: flex-end;
  justify-content: center;
}

img.ui.small.image.hand-card {
  width: 125px;
}

/* Map */
.map {
  position: absolute;
}

/* Action Footer */
.ui.bottom.very.wide.visible.sidebar.action-footer {
  background-color: white;
  min-height: 7em;
}

.action-container {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-top: .5em;
}

.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
  margin: 0em;
}

.action-text {
  font-size: x-large;
  padding-top: .5em;
}

/* Game Header */
.ui.container.game-header {
  display: flex;
  justify-content: center;
  min-height: 5em;
  max-height: 5em;
  width: inherit;
  position: absolute;
}

.ui.container.game-header-container {
  color: white;
  width: 50%;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
