.game {
  height: -webkit-fill-available;
}

.ui.container.cards-container {
  display: flex;
  height: -webkit-fill-available;
  align-items: flex-end;
  justify-content: center;
}

img.ui.small.image.hand-card {
  width: 125px;
}

.map {
  position: absolute;
}

.ui.bottom.very.wide.visible.sidebar.action-footer {
  background-color: white;
  min-height: 7em;
}

.action-container {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
